body {
  font-family: "Inter", sans-serif;
  background-color: #09090b;
  color: #e4e4e7;
  margin: 0;
}
.no-focus-outline *,
*:focus,
*:focus-visible {
  outline: none !important;
}
button,
a,
textarea,
input,
select {
  -webkit-tap-highlight-color: transparent;
}
/* Prevent default focus ring glow on macOS browsers */
button:focus,
a:focus,
textarea:focus,
input:focus,
select:focus {
  box-shadow: none !important;
}
.font-mono {
  font-family: "JetBrains Mono", monospace;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fade-in 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
.bg-grid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #27272a 1px, transparent 1px),
    linear-gradient(to bottom, #27272a 1px, transparent 1px);
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}
